/*================================================
    カスタムCSS
    （採用ページ）
================================================*/

body{
    font-family: 'logotype' !important;
}
.purple{
    background:purple;
    color:#FFF;
}
.red{
    background:red;
    color:#FFF;
}
span.t-caret{
    background:#555;

}
small.def{
    color:#333;
}

.linkdiv{

    min-height: 160px;

    background-image: linear-gradient(rgba(0,0,0,0) 50%, rgba(60,114,160,0.20) 50%);
    background-position: 0 0;
    background-size: auto 200%;
    -webkit-transition:  0.3s;
       -moz-transition:  0.3s;
        -ms-transition:  0.3s;
         -o-transition:  0.3s;
            transition:  0.3s;
}

.linkdiv:hover{
    background-position: 0 100%;
}


.linkdiv a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: rgb(68, 68, 68);
}

.linkdiv a:link { color:rgb(68, 68, 68); text-decoration:none; }
.linkdiv a:visited { color:rgb(68, 68, 68); text-decoration:none; }
.linkdiv a:hover { color:rgb(68, 68, 68); text-decoration:none; }
.linkdiv a:active { color:rgb(68, 68, 68); text-decoration:none; }


.rectop_img{
    max-width:100%;
    height:150px;
    margin-bottom:10px;
    size:cover;
    /*padding:15px;
    margin-bottom: 15px;
    background-position: center center;
    background-repeat:no-repeat;
    background-size: cover;*/
}

/*================================================
    margin
================================================*/
.margin10{
    margin-bottom:10px;
}


/*================================================
    article
================================================*/
/*.othernav {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background: url(../img/rec.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}*/



/*================================================
    コンテンツが斜めになってるところ
================================================*/

.rotat {
  position: relative;
  overflow: hidden;
  padding: 80px 0;
}

.rotat:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 70%;
  margin: 3% -10% 0;
  background: #337ab7;
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  z-index: -1;
}

.rotat:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 100%;
  margin: 20% -10% 0;
  background: #333;
  z-index: -2;
}

.rotat_inner {
  width: 100%;
  max-width: 640px;
  height: 100%;
  margin: 0 auto;
  padding: 7% 10px 120px;
  color: #fff;
  text-align: center;
}

/*.rotat {
  position: relative;
  overflow: hidden;
  margin: 10% 0;
  padding: 80px 0;
}

.rotat:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 80%;
  margin: 3% -10% 0;
  background: #011931;
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  z-index: -1;
}

.rotat_inner {
  box-sizing: boder-box;
  width: 100%;
  max-width: 640px;
  height: 100%;
  margin: 0 auto;
  padding: 100px 10px 120px;
  color: #fff;
  text-align: center;
}*/


/*================================================
    TopのCSS
    imgのキャプション
================================================*/
#top-messages .col-md-6{
     margin-bottom:10px;
}
#top-messages .top{
    line-height: inherit;
}
.text {
    text-align:left;
    height:100%;
    border:1px solid #ddd; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow:hidden;
    border-color: rgb(252, 227, 176);
    background-color: #ffffcc;
    background-image: url(https://d3dma7a8zw52bz.cloudfront.net/assets/documents/document_body_rules-f0711254a4cc2b734e9317489d363ce2.gif);
    -webkit-user-select: none;
}
.text p {
    height: 100%;
    overflow: hidden;
    }

.content-text {
    padding:0px 20px 10px;
}

.carousel-caption{
    right: 5px;
    bottom: 0px;
    left: 5px;

}
.carousel-caption>h1{
    /*width:100%;*/
    padding:10px 20px;
    background-color: rgba(0,0,0,0.4);
}

.img-center{
    display:block;
    margin:0 auto;
}


/*================================================
    マーカー風のCSS
================================================*/

.marker_yellow_hoso {
width:300px;
background: -webkit-linear-gradient(transparent 60%, #ffff66 60%);
background: -o-linear-gradient(transparent 60%, #ffff66 60%);
background: linear-gradient(transparent 60%, #ffff66 60%);
}

.msg-rotate{
    -webkit-transform: rotate(-5deg);
       -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
         -o-transform: rotate(-5deg);
            transform: rotate(-5deg);
}


/*================================================
    buttonのCSS
================================================*/

.btn-mkr {
    display: inline-block;
    width: 100%;
    height: 54px;
    text-align: center;
    text-decoration: none;
    line-height: 54px;
    outline: none;
}
.btn-mkr::before,
.btn-mkr::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
}
.btn-mkr,
.btn-mkr::before,
.btn-mkr::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.btn-mkr {
    position: relative;
    z-index: 2;
    background-color: #333;
    border: 2px solid #333;
    color: #fff;
    line-height: 50px;
}
.btn-mkr:hover {
    background-color: #fff;
    border-color: #59b1eb;
    color: #59b1eb;
}
.btn-mkr::before,
.btn-mkr::after {
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #333;
}
.btn-mkr::before {
    right: 0;
}
.btn-mkr::after {
    left: 0;
}
.btn-mkr:hover::before,
.btn-mkr:hover::after {
    width: 0;
    background-color: #59b1eb;
}


/*================================================
    box designのCSS
================================================*/



.box {
    border-radius: 0;
    /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
    border:1px solid #CCC;
    padding: 10px 25px;
    text-align: right;
    display: block;
    margin-top: 60px;
}
.box-icon {
    background-color: #57a544;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
}

.box-icon-color1 {
    background-color: #FF5722;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
}

.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.info h4 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.info > p {
    color: #717171;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}



/*================================================
    h1のCSS
================================================*/

/*================================================
    relationの画像
================================================*/

#relation1{
    background-image:url('../img/relation3.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center center;
}
#relation2{
    background-image:url('../img/relation2.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center center;
}
#relation3{
    background-image:url('../img/relation1.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center center;
}